[submodule "3rdparty/tinyusb"]
	path = 3rdparty/tinyusb
	url = https://github.com/liamfraser/tinyusb.git
[submodule "3rdparty/Pico-PIO-USB"]
	path = 3rdparty/Pico-PIO-USB
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB.git
